$gradient-blue: linear-gradient(180deg, #3F5890 0%, #29488D 100%);
$gradient-beige: linear-gradient(180deg, #FFE1B1 35.62%, #FFF4CE 100%);
$gradient-pink: linear-gradient(180deg, #FFF7EA 0%, #FFE9C8 100%);


$primary: #DA442F;
$active: #4ABE56;
$error: #AA0E11;
$red: #CF3434;

$beige: #FFC874;
$light-pink: #FFD7D1;
$linear-yellow: linear-gradient(#FFDF7A, #FFC71A);
$nude: #FFE4B8;
$other-nude: #FFDCA7;

$yellow : #F1B939;

$light-brown: #774B07;
$brown: #482917;

$light-blue: #3F5890;
$dark-blue: #1B3A7D;

$light-gray: #dfdfdf;
$gray: #cdcdcd;
$dark-gray: #8f8f8f;
