
@for $i from 0 through 200 {
  .width-percentage-#{$i} {
      width: #{$i}#{"%"};
  }
}
@for $i from 0 through 100 {
  .width-viewport-#{$i} {
      width: #{$i}#{"vw"};
  }
}
@for $i from 0 through 1000 {
  .width-#{$i} {
      width: #{$i}#{"px"};
  }
}

@for $i from 0 through 100 {
  .height-viewport-#{$i} {
      height: #{$i}#{"vh"};
  }
}
@for $i from 0 through 1000 {
  .height-#{$i} {
      height: #{$i}#{"px"};
  }
}
.width-inherit {
  width: inherit;
}
.width-fit-content {
  width: fit-content;
}
.w-img-bottom {
  width: calc(108px / 320px * 100%);
}

.expand-w {
  width: 104% !important;
}

.d-none {
  display: none;
}
