
.f-size-sm {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.f-size-md {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.f-size-lg {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.f-size-xl {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}
