@mixin form {
  .disabled {
    pointer-events: none;
  }
  .form-title {
    color: $brown;
  }
  .contain-submit {
    width: 100% !important;
  }
  .form-field {
    position: relative;
    width: calc(100% * 7 / 8);
    .form-input {
      border: 2px solid $dark-blue;
      color: $dark-blue;
      border-radius: 10px;
      padding: 10px 35px 10px 15px;
      background: transparent;
      outline: none;
      word-break: break;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      background: transparent;
      -webkit-text-fill-color: $dark-blue;
      transition: background-color 5000s ease-in-out 0s;
    }
    .border-danger {
      border: 2px solid $red !important;
    }
    .form-input--text {
      padding-left: 45px !important;
    }
    .form-input:focus,
    .form-input:not(:placeholder-shown) {
      border: 2px solid $dark-blue;
    }
    .form-input:not(:placeholder-shown) + .form-label,
    .form-input:focus + .form-label {
      top: 0;
      padding: 0 3px;
      display: inline-block;
      background: #ffe2b2;
    }
    .form-label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      color: $dark-blue;
      user-select: none;
      pointer-events: none;
    }
    .form-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      background: transparent;
      border: none;
      outline: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      color: $dark-blue;
      display: none;
      padding-right: 10px !important;
    }
    .form-input:focus ~ .form-select,
    .form-input:not(:placeholder-shown) ~ .form-select {
      display: block;
    }
    .form-btn--showpw {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      color: $dark-blue;
      background: transparent;
      border: none;
      outline: none;
    }
    .form-input:focus ~ .form-btn--showpw,
    .form-input:not(:placeholder-shown) ~ .form-btn--showpw {
      top: 27px;
    }
    .form-input--password:focus,
    .form-input--password:not(:placeholder-shown) {
      margin-top: 5px;
    }
    .form-input--password:not(:placeholder-shown) + .form-label,
    .form-input--password:focus + .form-label {
      top: 5px;
    }
    .enabled {
      .title {
        &--front,
        &--front-duplicate,
        &--back {
          background: $red;
          border: 2px solid $beige;
          color: $light-pink;
        }
        &--front-duplicate {
          border: none;
        }
      }
    }
    .btn {
      display: block;
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
      .btn-title {
        line-height: 44px;
      }
    }
    .btn:hover,
    .btn:active {
      filter: drop-shadow(0 3px 2px #c4c4c4);
    }

    .warning,
    .danger {
      color: $light-pink;
    }
    .info {
      color: $dark-gray;
      pointer-events: none;
      user-select: none;
    }
    .forgot-link {
      color: $dark-blue;
    }
    .signup-link {
      span {
        color: $red;
      }
    }
    hr {
      width: 17px;
      background: $brown;
      height: 1px;
      border: none;
      outline: none;
    }
    .alert-danger {
      position: relative;
      color: $red;
      background: $gradient-pink;
      border: $red 1px solid;
      border-radius: 10px;
      width: 100%;
      left: 7%;
      .little {
        width: 16px;
        height: 16px;
      }

      p {
        width: calc(100% - 56px);
        text-align: left;
      }
    }
    .check-pass {
      .access {
        color: green;
      }
      div {
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
